@import "~variables.scss";

body {
  background-color: black;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.loginBtn {
  margin-top: 9%;
}

hr {
  color: #3F51B5;
  height: 1px;   
  background-color: #3F51B5;
  border: none;
}


.container{
  width: 400px;
  
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.checkboxDiv {
  margin: 4%;
}

.inputFieldsDiv {
  font-family: Roboto;
  color: #283593;
  background: white;
  text-align: center;
  padding: 20px;
  box-shadow: $box-shadow; 
}

.created-succesfully {
  color: #00ff00;
}

.spinner {
  margin-left: 46%;
  margin-bottom: 7%;
  margin-top: 5%;
}