mat-card {
    max-width: 300px;
    margin: 6px;
}

#card-container{
    display: flex;
    flex-flow: row wrap;
}

mat-spinner {
    left: 47%;
    margin-top: 13%;
}

.search-box {
    width: 400px;
    left: 40%;
    padding-bottom: 40px;
}

.avatar-image {
    background-image: url("https://www.femina.dk/sites/femina.dk/files/media/article/tigerspring_baby.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%
}