<div class="container">
  <div class="inputFieldsDiv" *ngIf="currentUser == 'baby'">
    <form novalidate [formGroup]="editBabyForm" (submit)="onSubmit(editBabyForm)">
      <h3>Edit Baby</h3>
      <hr>
      <br>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname" id="firstname" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Age" id="age" formControlName="age" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Postal Code" id="postalCode" formControlName="postalCode" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Gender" id="gender" formControlName="gender" required>
        </mat-form-field>
      </div>
      <mat-spinner class="spinner" diameter="30" *ngIf="spinner == true"></mat-spinner>
      <p class="created-succesfully" *ngIf="userCreated == true">Baby was created</p>
      <button mat-raised-button color="primary" type="submit" id="createBaby">Confirm</button>
    </form>
  </div>

  <div class="inputFieldsDiv" *ngIf="currentUser == 'sitter'">
    <form novalidate [formGroup]="editSitterForm" (submit)="onSubmit(editSitterForm)">
      <h3>Edit Babysitter</h3>
      <hr>
      <br>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname" id="firstname" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lastname" id="lastname" formControlName="lastname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Age" id="age" formControlName="age" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Gender" id="gender" formControlName="gender" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Region" id="region" formControlName="region" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Picture" id="picture" formControlName="picture" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Years of experience" id="yearsOfExperience" formControlName="yearsOfExperience" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" id="phone" formControlName="phone" required>
        </mat-form-field>
      </div>
      <mat-spinner class="spinner" diameter="30" *ngIf="spinner == true"></mat-spinner>
      <p class="created-succesfully" *ngIf="sitterCreated == true">Sitter was created</p>
      <button mat-raised-button color="primary" type="submit" id="createSitter">Confirm</button>
    </form>
  </div>
</div>