.container{
    position: absolute;
    //width: 100%;
    //margin: -100px 0 0 -200px;
    top: 15%;
    left: 5%;
    right: 5%;
    padding: 10px;
}

a{
    font-style: roboto;
    padding: 10px;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.navbarDiv{
    // position: absolute;
    // left: 40%;
    // text-align: center;
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 20%;
    left: 53%;
}   