.container{
    position: absolute;
    //width: 100%;
    //margin: -100px 0 0 -200px;
    top: 15%;
    left: 5%;
    right: 5%;
    //padding: 10px;
}

a{
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding: 40px;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: rgb(224, 222, 222);
}

.navbarDiv{
    flex: auto;
    text-align: center;
    padding: 8px 16px;
}   

.mat-toolbar-row, .mat-toolbar-single-row {
    margin-top: -8px;
    height: 100%;
    width: 100%;
    // -webkit-box-shadow: 0 10px 6px -6px #999;
    // -moz-box-shadow: 0 10px 6px -6px #999;
    //  box-shadow: 0 10px 6px -6px #999;
}



