<div>
    <mat-toolbar color="primary">
        <div class="title">
            FindASitter
        </div>
        <div class="navbarDiv">
            <a routerLink="landing/contact">Home</a>
            <a routerLink="userlist" id="userlistNang sv">Userlist</a>
            <a routerLink="login" id="login">Login</a>
            <a routerLink="profile" id="router">Profile</a>
            <a routerLink="register" id="register">Register</a>
        </div>
    </mat-toolbar>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

