.avatar-image {
    background-image: url("https://www.femina.dk/sites/femina.dk/files/media/article/tigerspring_baby.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%
}
