@import "~variables.scss";

.container{
    width: 400px;
    
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

hr {
  color: $primary-color;
  height: 1px;   
  background-color: $primary-color;
  border: none;
}

.inputFieldsDiv{
    font-family: Roboto;
    color: $primary-color;
    background: white;
    text-align: center;
    padding: 20px;
    box-shadow: $box-shadow;
  }

.avatar-image {
    background-image: url("https://www.femina.dk/sites/femina.dk/files/media/article/tigerspring_baby.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%
}
