/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './styles/normalize'; 

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500');

$primary-color: #3F51B5;
$box-shadow: 0 18px 35px rgba(50,50,93,.1);


body {
    content: "";
    background: url('media/andre-hunter-107089-unsplash.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    font-family: 'Roboto', sans-serif;

}

.error {
    color: red;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }