<!-- <mat-radio-group>
  <input type="radio" value='sitter' [(ngModel)]='registrant'>Babysitter
  <input type="radio" value='baby'[(ngModel)]='registrant'>Baby<br/>
</mat-radio-group> -->
<div class="container">

  <mat-radio-group [(ngModel)]='registrant'>
    <div class="radioBtns">
      <mat-radio-button class="radio-button-sitter" id="radio-sitter" value='sitter'>Babysitter</mat-radio-button>
      <mat-radio-button class="radio-button-baby" id="radio-baby" value='baby'>Baby</mat-radio-button>
    </div>
  </mat-radio-group>

  <form novalidate [formGroup]="registerBabyForm" (submit)="onSubmit(registerBabyForm)">
    <div class="inputFieldsDiv" *ngIf="registrant == 'baby'">
      <h3>Register Baby</h3>
      <hr>
      <br>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname" id="firstname" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Age" id="age" formControlName="age" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Postal Code" id="postalCode" formControlName="postalCode" required>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
          <input matInput placeholder="Gender" id="gender" formControlName="gender" required>
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Gender" [(ngModel)]="selectedValue" formControlName="gender" name="gender" id='select-genders'>
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>   
      </div>
      <br>
      <mat-spinner class="spinner" diameter="30" *ngIf="spinner == true"></mat-spinner>
      <button mat-raised-button color="primary" type="submit" id="createBaby">Register</button>
    </div>
  </form>

  <form novalidate [formGroup]="registerSitterForm" (submit)="onSubmit(registerSitterForm)">
    <div class="inputFieldsDiv" *ngIf="registrant == 'sitter'">
      <h3>Register Babysitter</h3>
      <hr>
      <br>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Firstname" id="firstname" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lastname" id="lastname" formControlName="lastname" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Age" id="age" formControlName="age" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Gender" [(ngModel)]="selectedValue" formControlName="gender" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Region" id="region" formControlName="region" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Years of experience" id="yearsOfExperience" formControlName="yearsOfExperience" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" id="phone" formControlName="phone" required>
        </mat-form-field>
      </div>
      <br>
      <mat-spinner class="spinner" diameter="30" *ngIf="spinner == true"></mat-spinner>
      <button mat-raised-button color="primary" type="submit" id="createSitter">Register</button>
    </div>
  </form>
</div>